div.row
    fieldset
        legend New task
        div.input-control.text
            input.with-helper(name="title",type="text",placeholder="Title...")
        div.input-control.text
            input.with-helper(name="description",type="text", placeholder="Description...")
        div.input-control.radio
		    input(type="radio")
        input(type="submit",value="Create")