doctype 5
html(lang="en")
  head
    title= pageTitle
    script(src='/socket.io/socket.io.js')
    script
       var socket = io.connect(location.origin + '/SPio');
       socket.on('sendTimer', function (data) {
         console.log('sending timer');
         socket.emit('timerSent', { time: Date.now() });
       });
       socket.on('timerPingback', function (data) {
         console.log('recieved pingback');
         console.log(data);
         console.log(Date.now());
         console.log(Date.now() - data.time);
       });
  body
    h1 Jade - node template engine
    #container
    p I thinks you are #{token} 

