doctype 5
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet', href='/public/toastr.min.css', type='text/css' )
    link(rel='stylesheet', href='/public/css/smoothness/jquery-ui-1.10.1.custom.min.css', type='text/css' )
    link(rel='stylesheet', href='/public/Metro-UI/css/modern.css', type='text/css' )
    link(rel='stylesheet', href='/public/Metro-UI/css/modern-responsive.css', type='text/css' )
    script
        var hostweburl = decodeURIComponent("#{siteUrl}");
        var appweburl = "#{spAppWebUrl}";
        console.log('hostweb is: ' + hostweburl);
        console.log('appweb is: ' + appweburl);
    script(src='/socket.io/socket.io.js')
    script(src='/public/knockout-2.2.1.js')
    script(src='/public/jquery-1.9.1.min.js')
    script(src='/public/jquery-ui-1.10.1.custom.min.js')
    script(src='/public/knockout-bindings-jqueryui.js')
    script(src='/public/knockout-bindings.js')
    script(src='/public/sp.ui.controls.js')
    script(src='/public/toastr-1.1.5.min.js')
    script(src='https://ajax.aspnetcdn.com/ajax/4.0/1/MicrosoftAjax.js')
    script(src='/public/viewModels/tasksViewModel.js')
    script(src='/public/leap.min.js')
    script(src='/public/bootstrapper.js')
  body.metrouicss
    include chrome
    include taskoperations
    include taskboard
