div.page
    div.page-region
        #taskboard.page-region-content
            #percentcomplete
                div.zero 0% done
                div.fifty 50%
                div.houndred 100% done
            div.row.task-group
              span.icon-arrow-right-3(style="font-size:36px !important;")
            #highPriority.row.priority.high(data-bind="ui:{type:'droppable',options:{hoverClass:'hover',tolerance:'intersect',drop:onDropTask, over:changePriority}}")
                div.span10(data-bind="foreach:highPriorityTasks")
                    div.tile.image(data-role="tile-slider",data-bind="tileslider:{}, ui:{type:'draggable',options:{refreshPositions:true, drag:$root.onDragTask, helper:'clone', containment:'taskboard'}},value:$data, style:{left:$root.progressToPosition(progress)}")
                        div.tile-content(data-bind="css:cssClass" )
                            img(data-bind="attr:{src:userImage}")
                        div.tile-content(data-bind="css:cssClass" )
                            div(data-bind="text:description")
                        div.brand.bg-color-orange
                            p.text(data-bind="text: title")
                            div.badge(data-bind="text: formattedProgress")
            div.row.task-group PRIORITY
            #normalPriority.row.priority.normal(data-bind="ui:{type:'droppable',options:{hoverClass:'hover',tolerance:'intersect',drop:onDropTask, over:changePriority}}")
                div.span10(data-bind="foreach:normalPriorityTasks")
                    div.tile.image(data-bind="tileslider:{}, ui:{type:'draggable',options:{refreshPositions:true, drag:$root.onDragTask, helper:'clone', containment:'taskboard'}},value:$data, style:{left:$root.progressToPosition(progress)}")
                        div.tile-content(data-bind="css:cssClass " )
                            img(data-bind="attr:{src:userImage}")
                        div.tile-content(data-bind="css:cssClass" )
                            div(data-bind="text:description")
                        div.brand.bg-color-orange
                            p.text(data-bind="text: title")
                            div.badge(data-bind="text: formattedProgress")
            div.row.task-group
              span.icon-arrow-left-3(style="font-size:36px !important;")
            #lowPriority.row.priority.low(data-bind="ui:{type:'droppable',options:{hoverClass:'hover',tolerance:'intersect',drop:onDropTask, over:changePriority}}")
                div.span10(data-bind="foreach:lowPriorityTasks")
                    div.tile.image(data-bind="ui:{tileslider:{}, type:'draggable',options:{refreshPositions:true, drag:$root.onDragTask, helper:'clone', containment:'taskboard'}},value:$data, style:{left:$root.progressToPosition(progress)}")
                        div.tile-content(data-bind="css:cssClass" )
                            img(data-bind="attr:{src:userImage}")
                        div.tile-content(data-bind="css:cssClass")
                            div(data-bind="text:description")
                        div.brand.bg-color-orange
                            p.text(data-bind="text: title")
                            div.badge(data-bind="text: formattedProgress")

