.hover{
background:green;
}

.page{
	padding-left:20px;
}

.priority {
    border-top: 2px solid gray;
    height: 200px;
    padding: 5px;
}

.task-group {
    text-transform:uppercase;
    text-align:center;
    font:inherit;
    font-size:x-large;
}