.hover{
background:green;
}

.page{
	padding-left:20px;
}

.priority {
 min-height: 300px:
 border-bottom:thick solid #ff0000;
}

.box{
    border:1px solid red;
    height:200px;
    width:20px;
    position:relative;
}

.vertical{
    top:50px;
    left:-20px;
    -webkit-transform:rotate(-90deg);
    border:1px solid black;
    display:block;
    position:absolute;
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  
  float:left;
  font-size:30px;  
  text-transform:uppercase;
}

.rot-neg-90 {
    -moz-transform:rotate(-270deg); 
    -moz-transform-origin: bottom left;
    -webkit-transform: rotate(-270deg);
    -webkit-transform-origin: bottom left;
    -o-transform: rotate(-270deg);
    -o-transform-origin:  bottom left;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	float:left;
	font-size:20px;
	height:50%;
}
.vertical {
width:1em;
text-transform:uppercase;
}